@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



section {
    position: relative;
    background: url(test1.webp) center center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
  }

  section::selection {
    color: #e3e3e3;
    background: rgba(255, 255, 255, 0.304);
  }
  
  section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(5px);
  }
  
  section .card {
    position: relative;
    width: 360px;
    height: 380px;
    background: url(test1.webp);
    background-size: cover;
    box-shadow:
    0 0 1.75px #a40101,
    0 0 1px #a40101,
    0 0 5.25px #a40101,
    0 0 10.5px rgba(255, 0, 0, 0.073),
    0 0 20.5px rgba(255, 0, 0, 0.06),
    0 0 23px rgba(255, 0, 0, 0.07),
    0 0 25.5px rgba(255, 0, 0, 0.03),
    0 0 37.75px rgba(255, 0, 0, 0.029);
    border: 1px solid #53010141;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
    z-index: 100px;
    transition: 0.3s;
  }

@media screen and (max-width: 480px) {
    section .card {
        width: 250px;
        background: transparent;
        box-shadow: none;
        border: none;
    }
}

section .card .content, section .card .imgText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .card .imgText .imgBx{
    position: relative;
    width: 120px;
    height: 120px;
    box-shadow:
    0 0 1.75px #a4a4a4,
    0 0 1px #a3a2a2,
    0 0 5.25px #a09f9f,
    0 0 10.5px rgba(255, 255, 255, 0.073),
    0 0 20.5px rgba(255, 255, 255, 0.06),
    0 0 23px rgba(255, 255, 255, 0.07),
    0 0 25.5px rgba(255, 255, 255, 0.03),
    0 0 37.75px rgba(255, 255, 255, 0.029);
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: 0.3s;
}

@media screen and (max-width: 480px) {
    section .card .imgText .imgBx{
        width: 87px;
        height: 87px;
    }
}

section .card .imgText .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .card .imgText .imgBx img::selection {
    color: #e3e3e3;
    background: rgba(255, 255, 255, 0.304);
  }

section .card .imgText h3{
    font-weight: bolder;
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: center;
    color:#8B0000;
}

section .card .imgText h3::selection {
    color: #e3e3e3;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.304);
  }

section .card .imgText h3::selection {
    color: #e3e3e3;
    background: rgba(255, 255, 255, 0.304);
  }

section .card .imgText h4{
    font-weight: bolder;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 12px;
    line-height: 1.2em;
    text-align: center;
    color:#e3e3e3;
}

section .card .imgText h4::selection {
    color: #e3e3e3;
    background: rgba(255, 255, 255, 0.304);
  }

section .card .imgText h3 span{
    font-weight: 400;
    color: #ffffff;
    font-size: 0.75em;
    transition: 0.3s;
}

section .card .imgText h3 span::selection {
    color: #e3e3e3;
    background: rgba(255, 255, 255, 0.304);
  }

@media screen and (max-width: 480px) {
    section .card .imgText h3 span{
        font-size: 0.65em;
    }
    section .card .imgText h4{
        margin-right: 2%;
        margin-left: 2%;
    }
}


section .card .sci{
    display: flex;
    margin-top: 15px;
}

section .card .sci li{
    list-style: none;
}

section .card .sci li a{
    position: relative;
    width: 50px;
    height: 50px;
    background: #ffffff;
    color: #a40101;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.3s;
}

@media screen and (max-width: 480px) {
    section .card .sci li a {
        margin-top: 10px;
        position: relative;
        width: 40px;
        height: 40px;
        background: #ffffff;
        color: #a40101;
    }
}

section .card .sci li a:hover{
    color: #fff;
    background: #a40101;
}

section .card .sci li a .fa{
    position: relative;
    z-index: 1000;
}

section .card .sci li a:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000061;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s;
    color: #fff;
}

section .card .sci li a:hover:before{
    transform: scale(1);
}

#preloader {
    background: #000 url(loader3.gif) no-repeat center center;
    background-size: 200px;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;
    animation: 0.1s;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
